{% block stylesheets %}
	<link href="{{ app.request.basepath }}/css/bootstrap.css"rel="stylesheet"type="text/css" />
{% endblock%} 

<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4"><h1>Connect to mailbox</h1></div>
<div class="col-md-4"></div>
</div>
{% if app.session.get('failedLoginMessage') %}
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="alert alert-warning">{{ app.session.get('failedLoginMessage') }}</div>
</div>
<div class="col-md-4"></div>
</div>
{% endif %}
<div style="margin-top: 40px" class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
	<form action="{{ app.request.baseurl }}/readEmail" method="post">
	<div class="form-group">
	<label class="control-label">E-mail</label>
    	{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
    	</div>
    <div class="form-group">
    <label class="control-label">Password</label>
    	{{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <input class="btn btn-primary" type="submit" name="submit" value="Read mail"/>
</form>
</div>
<div class="col-md-4"></div>
</div>
