{% block stylesheets %}
	<link href="{{ app.request.basepath }}/css/bootstrap.css"rel="stylesheet"type="text/css" />
{% endblock%}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8"><h2>{{ mail.subject }}</h2></div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8"><pre>{{ mail.textPlain }}</div>
	<div class="col-md-2"></div>
</div>
