{% block stylesheets %}
	<link href="{{ app.request.basepath }}/css/bootstrap.css"rel="stylesheet"type="text/css" />
{% endblock%} 

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8"><h2>Mailbox from {{ email }}</h2></div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>From</th>
			<th>Subject</th>
			<th>Read</th>
		</tr>
	</thead>
	 {% for email in a %}
	<tr>
		<td>{{ email.fromAddress|e }}</td>
		<td>{{ email.subject|e }}</td>
		<td><a href="{{ app.request.basepath }}/index.php/mailDetail/{{ email.id|e }}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
	</tr>
	{% endfor %}
	</table>
	</div>
	<div class="col-md-2"></div>	
</div>